.header {
	background-color: #3498DB;
	color: white;
	padding: 20px;
	margin: -8px;
}

div h2 {
	display: inline;
}

a {
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	font-family: arial;
	color: white;
}

body {
	background-image: url("background.gif");
	background-size: cover;
	font-family: arial;
	color: white;
}

.footer img {
	display: block;
	height: 250px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

.body {
	background-color: white;
	color: black;
	width: 40%;
	padding: 5px;
	margin-top: 5%;
}

.body img {
	width: 50%;
	height: 50%;	
}

p {
	background-color: #2B60DE;
	width: 45%;
}

.footer {
	font-size: 24px;
}